*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common style  */
 .container{
    max-width: 1320px;
    margin: auto;
 }
.common-btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #1D4ED8;
    border-radius: 10px;
    padding: 12px 42px;
    border: none;
    cursor: pointer;
}

.outline-btn{
    color: #2563EB;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    
    border-radius: 10px;
    padding: 12px 42px;
    border: 1px solid #2563EB;
    cursor: pointer;
}
.bg-color{
    background: #0D1B2A;
}

/* common syle end */

/* navbar style */ 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}
 .menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    margin-right: 24px;
    font-size: 16px;
    font-weight:500;
    color: #575757;
}

/* end navbar style */


/* start banner style */
.banner-parent{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(to bottom left, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
     url('./assets/banner.jpg');
    min-height: 786px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-parent h2{
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-parent p{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 829px;
    margin-top: 16px;
    margin-bottom: 278px;
}
.banner-parent button{
    padding: 25px 62px;
    
}
/*end banner style */

/* start speaker style */
.speaker-perent{
    margin-top: 80px;
    text-align: center;
}
.speaker-perent h2{
    font-size: 56px;
    font-weight: bold;
    color: #000102;
    margin-bottom: 56px;
}
.speaker-perent-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.speaker-perent-card{
    border-radius: 12px;
    border: 1px solid #E5E7EB;
     overflow: hidden;
}
.speaker-perent-card-bottom{
    text-align: start;
    padding: 24px 0 24px 24px;
}
.category{
    font-size: 12px;
    font-weight: 500;
    color: #2563EB;
    margin-bottom: 8px;
}
.speaker-name{
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 8px;
}
.speaker-title{
    font-size: 14px;
    color: #575757;
}
/* end speaker style */

/* start price style */
.price-parent{
    margin-top: 169px;
    text-align: center;
   
}
.price-parent h2{
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
}
.price-parent p{
    font-size: 16px;
    color: #575757;
    margin-top: 12px;
}
.price-parent-card{
  display: flex;
  justify-content: space-evenly;
  padding: 48px 80px 0 80px;
  
}
.price-parent-card-container{
    text-align: start;
    border: 1px solid #E5E7EB;
    padding: 32px;
    border-radius: 12px;
    width: 31%;
    
}
.plan-name {
    font-size: 13px;
    font-weight: 600;
    color: #888888;
    margin-top: 0 !important;

}
.price{
    font-size: 44px;
    font-weight: bold;
    color: #0D1B2A;
    
}
.price-txt{
    font-size: 13px;
    font-weight: 600;
    color: #888888;
    margin-top: 0 !important;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e7eb79;
    padding-bottom: 20px;
}
.price-parent-card-container ul {
    padding-left: 20px;
}
.price-parent-card-container ul li{
    margin-top: 10px;
    font-size: 14px;
    color: #333333;

}

.price-parent-card-container ul li::marker{
    color: #2563EB;
}
.price-parent-card-container button{
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
}
.third-plan-card-botton{
    border: 1px solid #0D1B2A;
    color: #0D1B2A;
}
.price-parent-card-container-pro{
    border: 1px solid #0D1B2A;
}
.price-parent-card-container-pro .price{
    color: #FFFFFF;
}
.price-parent-card-container-pro .plan-name{
    color: #93C5FD;
}
.price-parent-card-container-pro ul li{
    color: rgba(255, 255, 255,0.8);
}
.price-parent-card-container-pro .price-txt{
    color: rgba(255, 255, 255, 0.5);
}

/* <!-- end price style --> */