*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common style  */
 .container{
    max-width: 1320px;
    margin: auto;
 }
.common-btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #1D4ED8;
    border-radius: 10px;
    padding: 12px 42px;
    border: none;
    cursor: pointer;
}


/* common syle end */

/* navbar style */ 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}
 .menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    margin-right: 24px;
    font-size: 16px;
    font-weight:500;
    color: #575757;
}

/* end navbar style */


/* start banner style */
.banner-parent{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(to bottom left, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
     url('./assets/banner.jpg');
    min-height: 786px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-parent h2{
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-parent p{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 829px;
    margin-top: 16px;
    margin-bottom: 278px;
}
.banner-parent button{
    padding: 25px 62px;
    
}
/*end banner style */

/* start speaker style */
.speaker-perent{
    margin-top: 80px;
    padding-top: 80px;
    text-align: center;
}
.speaker-perent h2{
    font-size: 56px;
    font-weight: bold;
    color: #000102;
    margin-bottom: 56px;
}
.speaker-perent-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.speaker-perent-card{
    border-radius: 12px;
    border: 1px solid #E5E7EB;
     overflow: hidden;
}
.speaker-perent-card-bottom{
    text-align: start;
    padding: 24px 0 24px 24px;
}
.category{
    font-size: 12px;
    font-weight: 500;
    color: #2563EB;
    margin-bottom: 8px;
}
.speaker-name{
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 8px;
}
.speaker-title{
    font-size: 14px;
    color: #575757;
}
/* end speaker style */